<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Game</title>
</head>
<body>

<form action="/sports/update_game/{{game_id.id}}" method="POST">
    {% csrf_token %}
    <p>Name: {{user.first_name}} {{user.last_name}}</p>
    <p>State:</p>
    <input type="text" name="state" value="{{game_id.state}}">

    <p>City:</p>
    <input type="text" name="city" value="{{game_id.city}}">

    <p>Zip Code:</p>
    <input type="number" name="zipcode" value="{{game_id.zipcode}}">

    <p>Location:</p>
    <input type="text" name="location" value="{{game_id.location}}">

    <p>Sport:</p>
    <input type="text" name="sport" value="{{game_id.sport}}">

    <p>When:</p>
    <input type="date" name="date" value="{{game_id.date}}">

    <p>What Time:</p>
    <input type="time" name="time" value="{{game_id.time}}">

    <p>Comments:</p>
    <input type="text" name="comment" value="{{game_id.comment}}">
    <br><br>

    <input type="submit" value="Edit Game">
</form>

</body>
</html>